/*
========================
1.Global
========================
*/

/*
Base Styles
––––––––––––––––––––––––
*/
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

/*
Typography
––––––––––––––––––––––––
*/
h1, h2 {
  font-weight: bold;
  text-shadow: 2px 2px #333;
}

/*
========================
2.Main Container
========================
*/
.main-container {
  font-family: 'Poppins';
  background: linear-gradient(7deg, rgba(255,41,149,1) 0%, rgba(94,0,255,1) 100%);
  background-color: rgb(255,41,149);
  padding: 4rem;
  border-radius: 2em;
  box-shadow: 6px 10px #333;
  padding: 4em;
  text-align: center;
  color: white;
}

/*
========================
3.Form
========================
*/
.UserInput {
  font-size: 20px;
}
.UserInput input[value=Submit] {
  border-radius: 0.25em;
  padding: 0.5em;
  background-color: white;
  border: 0.1em solid black;
  color: blue;
}
.UserInput input[value=Submit]:hover {
  background-color: orange;
}

/*
========================
4.Social Icons
========================
*/
.social a {
  padding: 0.5em;
  color: white;
}
.social a:hover {
  color: turquoise;
}