@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
    font-family: 'Open Sans',serif;
}
.social a {
  padding: 0 .5em;
}
.UserInput{
    font-size: 20px;
}
/* h1 {
    background-color: blue;
}

div {
    background-color: grey;
}

p {
    background-color: white;
}
.container {
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
body{background-image: url("paper.gif");
} */
