font-face { font-family: roboto-regular; 
			 src: url('../font/Roboto-Regular.ttf'); } 
h2{
	font-family: roboto-regular;
}
*{
    font-family: 'Sans',serif;
}
.social a {
  padding: 0 .5em;
}
.UserInput{
    font-size: 20px;
}
 h1 {
    background-color: blue;
}

div {
    background-color: green;
}

p {
    background-color: white;
}
.container {
    position: absolute;
    right: 24px;
    top: 0; 
    color: #000;
    font-size: 33px;
    font-weight: bold;
}
body{background-image: url("paper.gif");
} 
